<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/registration.png">
    <title>Donar registration</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kavivanar&family=Podkova&display=swap" rel="stylesheet">
    
</head>
<body>
    {{>header}}

    <div class="main-content">
        <div id="form">
            <form action="">
                <label for="dnr_name">Name : </label>
                <input type="text" name="dnr_name" required><br>
                <label for="mobile_no">Mobile No : <b>+91</b> </label>
                <input type="number" name="mobile_no" required pattern="[1-9]{1}[0-9]{9}"><br>
                <label for="bld_group">Blood Group : </label>
                <select name="dnr_bld_group" id="dnr_bld_grp">
                <option value="bld_grp" selected disabled>Select blood group</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="A1+">A1+</option>
                    <option value="A1-">A1-</option>
                    <option value="A2+">A2+</option>
                    <option value="A2-">A2-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="A1B+">A1B+</option>
                    <option value="A1B-">A1B-</option>
                    <option value="A2B+">A2B+</option>
                    <option value="A2B-">A2B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select><br>
                <label for="taluk">Taluk : </label>
                <select name="taluk" id="dnr_taluk">
                    <option value="select taluk" selected disabled>Select Taluk</option>
                    <option value="Agasteeswaram">Agasteeswaram</option>
                    <option value="Alandur">Alandur</option>
                    <option value="Alangudi">Alangudi</option>
                    <option value="Alangulam">Alangulam</option>
                    <option value="Alathur">Alathur</option>
                    <option value="Ambur">Ambur</option>
                    <option value="Ambasamuthiram">Ambasamuthiram</option>
                    <option value="Ambattur">Ambattur</option>
                    <option value="Aminjikarai">Aminjikarai</option>
                    <option value="Anaicut">Anaicut</option>
                    <option value="Anaimalai">Anaimalai</option>
                    <option value="Andimadam">Andimadam</option>
                    <option value="Andipatti">Andipatti</option>
                    <option value="Annur">Annur</option>
                    <option value="Anthiyur">Anthiyur</option>
                    <option value="Arani">Arani</option>
                    <option value="Arakkonam">Arakkonam</option>
                    <option value="Aranthangi">Aranthangi</option>
                    <option value="Aravakurichi">Aravakurichi</option>
                    <option value="Arcot">Arcot</option>
                    <option value="Ariyalur">Ariyalur</option>
                    <option value="Arupukottai">Arupukottai</option>
                    <option value="Attur(dindugal)"> Attur(dindugal)</option>
                    <option value="Attur(salem)">Attur(salem)</option>
                    <option value="Avadaiyarkoil">Avadaiyarkoil</option>
                    <option value="Avadi">Avadi</option>
                    <option value="Avinashi">Avinashi</option>
                    <option value="Ayanavaram">Ayanavaram</option>
                    <option value="Bargur">Bargur</option>
                    <option value="Bhavani">Bhavani</option>
                    <option value="Bhuvanagiri">Bhuvanagiri</option>
                    <option value="Bodinayakanur">Bodinayakanur</option>
                    <option value="Budalur">Budalur</option>
                    <option value="Chengalpattu">Chengalpattu</option>
                    <option value="Chengam">Chengam</option>
                    <option value="Chidambaram">Chidambaram</option>
                    <option value="Chinnaselam">Chinnaselam</option>
                    <option value="Cheranmahadevi">Cheranmahadevi</option>
                    <option value="Chetpet">Chetpet</option>
                    <option value="Cheyyur">cheyyur</option>
                    <option value="Coimbatore(North)">Coimbatore(North)</option>
                    <option value="Coimbatore(South)">Coimbatore(South)</option>
                    <option value="Coonoor"> Coonoor</option>
                    <option value="Cuddalore">Cuddalore</option>                
                    <option value="Denkanikottai">Denkanikottai</option>
                    <option value="Devakottai">Devakottai</option>
                    <option value="Dharapuram">Dharapuram</option>
                    <option value="Dharmapuri">Dharmapuri</option>
                    <option value="Dindigul East">Dindigul East</option>
                    <option value="Dindigul West">Dindigul West</option>
                    <option value="Edapady">Edapady</option>
                    <option value="Eral">Eral</option>
                    <option value="Erode">Erode</option>
                    <option value="Ettayapuram">Ettayapuram</option>                
                    <option value="Gandarvakottai">Gandarvakottai</option>
                    <option value="Gangavalli">Gangavalli</option>
                    <option value="Gingee">Gingee</option>
                    <option value="Gobichettipalayam">Gobichettipalayam</option>
                    <option value="Gudalur">Gudalur</option>
                    <option value="Gudiyatham">Gudiyatham</option>
                    <option value="Guindy">Guindy</option>
                    <option value="Gujiliamparai">Gujiliamparai</option>
                    <option value="Gummidipoondi">Gummidipoondi</option>
                    <option value="Harur">Harur</option>
                    <option value="Hosur">Hosur</option>
                    <option value="Ilayankudi">Ilayankudi</option>
                    <option value="Illuppur">Illuppur</option>
                    <option value="Jamunamarathoor">Jamunamarathoor</option>
                    <option value="K V Kuppam">K V Kuppam</option>
                    <option value="Kadaladi">Kadaladi</option>
                    <option value="Kadavur">Kadavur</option>
                    <option value="Kadayampatti">Kadayampatti</option>
                    <option value="Kadayanallur">Kadayanallur</option>
                    <option value="Kalaiyarkoil">Kalaiyarkoil</option>
                    <option value="Kalasapakkam">Kalasapakkam</option>
                    <option value="Kalkulam">Kalkulam</option>
                    <option value="Kallakurichi">Kallakurichi</option>
                    <option value="Kalligudi">Kalligudi</option>
                    <option value="Kalvarayan hills">Kalvarayan hills</option>
                    <option value="Kamuthi">Kamuthi</option>
                    <option value="Kancheepuram">Kancheepuram</option>
                    <option value="Kandachipuram">Kandachipuram</option>
                    <option value="Kangayam">Kangayam</option>
                    <option value="Karaikudi">Karaikudi</option>
                    <option value="Karambakudi">Karambakudi                
                    <option value="Killiyoor">Killiyoor</option>
                    <option value="Kilpennathur">Kilpennathur</option>
                    <option value="Kilvelur">Kilvelur</option>
                    <option value="Kinathukadavu">Kinathukadavu</option>
                    <option value="Kodaikanal">Kodaikanal</option>
                    <option value="Kodumudi">Kodumudi</option>
                    <option value="Kolli Hills"> Kolli Hills</option>
                    <option value="Devakottai">Devakottai</option>
                    <option value="Koothanallur">Koothanallur</option>
                    <option value="Kotagiri">Kotagiri</option>
                    <option value="Kovilpattai">Kovilpattai</option>
                    <option value="Krishnagiri">Krishnagiri</option>
                    <option value="Krishnarayapuram">Krishnarayapuram</option>
                    <option value="Kudavasal">Kudavasal</option>
                    <option value="Kulathur">Kulathur</option>
                    <option value="Kulithalai">Kulithalai</option>
                    <option value="Kumarapalayam">Kumarapalayam</option>
                    <option value="Kumbakonam">Kumbakonam</option>
                    <option value="Kundah">Kundah</option>
                    <option value="Kundrathur">Kundrathur</option>
                    <option value="Kunnam">Kunnam</option>
                    <option value="Kurinjipadi">Kurinjipadi</option>
                    <option value="Kutthalam"> utthalam</option>
                    <option value="Lalgudi">Lalgudi</option>
                    <option value="Madathukulam">Madathukulam</option>
                    <option value="Madhavaram">Madhavaram</option>
                    <option value="Madhurantakam">Madhurantakam</option>
                    <option value="Madukkarai">Madukkarai</option>
                    <option value="Madurai East">Madurai East</option>
                    <option value="Madurai North">Madurai North</option>
                    <option value="Madurai(South)">Madurai(South)</option>
                    <option value="Madurai West">Madurai West</option>
                    <option value="Maduravoyal">Maduravoyal</option>
                    <option value="Mambalam">Mambalam</option>
                    <option value="Kangayam">Kangayam</option>
                    <option value="Manachanallur">Manachanallur</option>
                    <option value="Manamadurai">Manamadurai</option>
                    <option value="Manamelkudi">Manamelkudi</option>
                    <option value="Manapparai">Manapparai</option>
                    <option value="Manmangalam">Manmangalam</option>
                    <option value="Mannargudi">Mannargudi</option>
                    <option value="Manur">Manur</option>
                    <option value="Marakkanam">Marakkanam</option>
                    <option value="Mayiladuthurai">Mayiladuthurai</option>
                    <option value="Melmalaiyanur">Melmalaiyanur</option>
                    <option value="Melur">Melur</option>
                    <option value="Mettupalayam">Mettupalayam</option>
                    <option value="Mettur">Mettur</option>
                    <option value="Modakkurichi">Modakkurichi</option>
                    <option value="Mohanur">Mohanur</option>
                    <option value="Mudukulathur">Mudukulathur</option>
                    <option value="Musiri">Musiri</option>
                    <option value="Mylapore">Mylapore</option>
                    <option value="Nagapattinam">Nagapattinam</option>
                    <option value="Nallampalli">Nallampalli</option>
                    <option value="Namakkal">Namakkal</option>
                    <option value="Nambiyur">Nambiyur</option>
                    <option value="Nanguneri">Nanguneri</option>
                    <option value="Kangayam">Kangayam</option>
                    <option value="Nannilam">Nannilam</option>
                    <option value="Natham">Natham</option>
                    <option value="Natrampalli">Natrampalli</option>
                    <option value="Needamanglam">Needamanglam</option>
                    <option value="Nemili">Nemili</option>
                    <option value="Nilakottai">Nilakottai</option>
                    <option value="Oddenchatram">Oddenchatram</option>
                    <option value="Omalur">Omalur</option>
                    <option value="Orathanadu">Orathanadu</option>
                    <option value="Ottapidaram">Ottapidaram</option>
                    <option value="Palakcode">Palakcode</option>
                    <option value="Palani">Palani</option>
                    <option value="Palayamkottai">Palayamkottai</option>
                    <option value="Palladam">Palladam</option>
                    <option value="Pallavaram">Pallavaram</option>
                    <option value="Pallipattu"> Pallipattu</option>
                    <option value="Panruti">Panruti</option>
                    <option value="Panthalur">Panthalur</option>
                    <option value="Papanasam">Papanasam</option> 
                    <option value="Pappireddipatti">Pappireddipatti</option>
                    <option value="Paramakudi">Paramakudi</option>
                    <option value="Paramathi Velur">Paramathi Velur</option>
                    <option value="Pattukkottai">Pattukkottai</option>
                    <option value="Pennagaram">Pennagaram</option>
                    <option value="Peraiyur">Peraiyur</option>
                    <option value="Perambalur">Perambalur</option>
                    <option value="Perambur">Perambur</option>
                    <option value="Peravurani">Peravurani</option>
                    <option value="Periyakulam(Theni)">Periyakulam(Theni)</option>
                    <option value="Periyakulam(Thiruvannamalai)">Periyakulam(Thiruvannamalai)</option>
                    <option value="Perundurai">Perundurai</option>
                    <option value="Perur">Perur</option>
                    <option value="Pernambut">Pernambut</option>
                    <option value="Pethanaickenpalayam">Pethanaickenpalayam</option>
                    <option value="Pochampalli">Pochampalli</option>
                    <option value="Pollachi">Pollachi</option>
                    <option value="Polur">Polur</option>
                    <option value="Ponnamaravathi">Ponnamaravathi</option>
                    <option value="Ponneri"> Ponneri</option>
                    <option value="Poonamallee">Poonamallee</option>
                    <option value="Pudukkottai">Pudukkottai</option>
                    <option value="Pugalur">Pugalur</option>
                    <option value="Purasawalkam">Purasawalkam</option>
                    <option value="R.K. Pettai">R.K. Pettai</option>
                    <option value="Radhapuram">Radhapuram</option>
                    <option value="Rajapalayam">Rajapalayam</option>
                    <option value="Rajasingamangalam">Rajasingamangalam</option>
                    <option value="Ramanathapuram">Ramanathapuram</option>
                    <option value="Manamelkudi">Manamelkudi</option>
                    <option value="Rameswaram">Rameswaram</option>
                    <option value="Rasipuram">Rasipuram</option>
                    <option value="Salem">Salem</option>
                    <option value="Salem South">Salem South</option>
                    <option value="Salem West">Salem West</option>
                    <option value="Sangagiri">Sangagiri</option>
                    <option value="Sankarankovil">Sankarankovil</option>
                    <option value="Sankarapuram">Sankarapuram</option>
                    <option value="Sathankulam">Sathankulam</option>
                    <option value="Sathur">Sathur</option>
                    <option value="Sathyamangalam">Sathyamangalam</option>
                    <option value="Sendamangalam">Sendamangalam</option>
                    <option value="Sendurai">Sendurai</option>
                    <option value="Shencottai">Shencottai</option>
                    <option value="Sholinganallur">Sholinganallur</option>
                    <option value="Shoolagiri">Shoolagiri</option>
                    <option value="Sigampunari">Sigampunari</option>
                    <option value="Sirkali">Sirkali</option>
                    <option value="Sivaganga">Sivaganga</option>
                    <option value="Sivagiri">Sivagiri</option>
                    <option value="Sivakasi">Sivakasi</option>
                    <option value="Srimushanam">Srimushanam</option>
                    <option value="Sriperumbudur">Sriperumbudur</option>
                    <option value="Srirangam">Srirangam</option>
                    <option value="Srivaikundam">Srivaikundam</option>
                    <option value="Srivilliputhur">Srivilliputhur</option>
                    <option value="Sulur">Sulur</option>
                    <option value="Tambaram">Tambaram</option>
                    <option value="Tenkasi">Tenkasi</option>
                    <option value="Thalavadi">Thalavadi</option>
                    <option value="Thandarampattu">Thandarampattu</option>
                    <option value="Thanjavur">Thanjavur</option>
                    <option value="Tharangambadi">Tharangambadi</option>
                    <option value="Theni">Theni</option>
                    <option value="Thiruchengode">Thiruchengode</option>
                    <option value="Thiruchirapalli-West">Thiruchirapalli-West</option>
                    <option value="Thirukkalukundram">Thirukkalukundram</option>
                    <option value="Thirukkuvalai">Thirukkuvalai</option>
                    <option value="Thirumayam">Thirumayam</option>
                    <option value="Thirupparankundram">Thirupparankundram</option>
                    <option value="Thirupporur">Thirupporur</option>
                    <option value="Thiruppuvanam">Thiruppuvanam</option>
                    <option value="Thiruthuraipoondi">Thiruthuraipoondi</option>
                    <option value="Thiruvaiyaru">Thiruvaiyaru</option>
                    <option value="Thiruvarur">Thiruvarur</option>
                    <option value="Thiruvattar">Thiruvattar</option>
                    <option value="Thiruvengadam">Thiruvengadam</option>
                    <option value="Thiruvennainallur">Thiruvennainallur</option>
                    <option value="Thiruverumpur">Thiruverumpur</option>
                    <option value="Thiruvidaimarudur">Thiruvidaimarudur</option>
                    <option value="Thiruvottiyur">Thiruvottiyur</option>
                    <option value="Thisayanvilai">Thisayanvilai</option>
                    <option value="Thoothukkudi">Thoothukkudi</option>
                    <option value="Thottiyam">Thottiyam</option>
                    <option value="Thovalai">Thovalai</option>
                    <option value="Thuraiyur">Thuraiyur</option>
                    <option value="Tindivanam">Tindivanam</option>
                    <option value="Tiruchirappalli-East">Tiruchirappalli-East</option>
                    <option value="Tiruchendur">Tiruchendur</option>
                    <option value="Tiruchuli">Tiruchuli</option>
                    <option value="Tirukkoilur">Tirukkoilur</option>
                    <option value="Tirumangalam">Tirumangalam</option>
                    <option value="Tirunelveli">Tirunelveli</option>
                    <option value="Tirupathur(Sivagangai)">Tirupathur(Sivagangai)</option>
                    <option value="Tirupattur(dt)">Tirupattur(dt)</option>
                    <option value="Tiruppur North">Tiruppur North</option>
                    <option value="Tiruppur South">Tiruppur South</option>
                    <option value="Tiruttani">Tiruttani</option>
                    <option value="Tiruvadanai">Tiruvadanai</option>
                    <option value="Tiruvallur">Tiruvallur</option>
                    <option value="Tiruvannamalai">Tiruvannamalai</option>
                    <option value="Titakudi">Titakudi</option>
                    <option value="Tondiarpet">Tondiarpet</option>
                    <option value="Udayarpalayam">Udayarpalayam</option>
                    <option value="Udhagamandalam">Udhagamandalam</option>
                    <option value="Udumalpet">Udumalpet</option>
                    <option value="Ulundurpet">Ulundurpet</option>
                    <option value="Usilampatti">Usilampatti</option>
                    <option value="Uthamapalayam">Uthamapalayam</option>
                    <option value="Uthangarai">Uthangarai</option>
                    <option value="Uthiramerur">Uthiramerur</option>
                    <option value="Uthukkotai">Uthukkotai</option>
                    <option value="Uthukuli">Uthukuli</option>
                    <option value="V.K.Pudur">V.K.Pudur</option>
                    <option value="Vadipatti">Vadipatti</option>
                    <option value="Valangaiman">Valangaiman</option>
                    <option value="Valapady">Valapady</option>
                    <option value="Valparai">Valparai</option>
                    <option value="Vandalur">Vandalur</option>
                    <option value="Vandavasi">Vandavasi</option>
                    <option value="Vaniyambadi">Vaniyambadi</option>
                    <option value="Vanur">Vanur</option>
                    <option value="Vedaranyam">Vedaranyam</option>
                    <option value="Vedasandur">Vedasandur</option> 
                    <option value="Velachery"> Velachery</option>
                    <option value="Vellore">Vellore</option>
                    <option value="Vembakkam">Vembakkam</option>
                    <option value="Vembakkottai">Vembakkottai</option>
                    <option value="Veppanthattai">Veppanthattai</option>
                    <option value="Veppur">Veppur</option>
                    <option value="Vikkiravandi">Vikkiravandi</option>
                    <option value="Vilathikulam">Vilathikulam</option>
                    <option value="Vilavancode">Vilavancode</option>
                    <option value="Villupuram">Villupuram</option>
                    <option value="Viralimalai">Viralimalai</option>
                    <option value="Virudhunagar">Virudhunagar</option>
                    <option value="Vridachalam">Vridachalam</option>
                    <option value="Walajabad">Walajabad</option>
                    <option value="Walajah">Walajah</option>
                    <option value="Watrap">Watrap</option>
                    <option value="Yercaud">Yercaud</option>
                </select><br>
                <button>Submit</button>
            </form>
        </div>
    </div>
    {{>footer}}
</body>
</html>