{{>header}}
<div class="jumbotron jumbotron-fluid text">
  <div class="container">
    <h1 class="display-6 text-center text-weight-bolder heading"><strong>பங்களிப்பு</strong></h1>
    <p class="text-weight-medium" style="font-size:3vh;line-height:1.5;word-spacing:10px;">நீங்கள் பங்களிக்கும் உதவித்தொகையை வைத்து இந்த இணையதளத்தின் மாத வரியை செலுத்துகிறோம். நீங்கள் பங்களிக்க விரும்பினால் கீழே உள்ள வங்கிகணக்கு விவரங்கள் மூலமாகவோ ஆன்லைன் பேங்கிங் போன்ற யுபிஐ, கூகுள் பே, பேடிஎம் போன்றவையை கொண்டு உதவி அளிக்கலாம் மேலும் விவரங்களுக்கு எங்கள் தொலைபேசி எண்களை தொடர்பு கொள்ளலாம்<br>( +91 9500665156 / 9080500125 )</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="textbox col-lg-6 col-md-12 mx-auto">
		  <h1 class="display-8 text-center text-weight-bolder"><img src="img/indianbank.png" alt="logo" id="logo"><strong> Indian Bank</strong></h1>
      <p class="text-justify text-center text-weight-bold" style="font-size:3vh;">Account No: 614245887<br>IDIB Code: IDIB000P136 <br> Brach Name: Parangipettai/Portonovo <br> Account Holder Name: Riyaz ahmed</p>
		</div>
    <div class="textbox col-lg-5 col-md-12 mx-auto">
			<h1 class="display-8 text-center text-weight-bolder"><i class="fas fa-globe"></i><strong> Online Banking</strong></h1>
      <p class="text-justify text-center text-weight-bold" style="font-size:3vh;">GooglePay NO: 9500665156<br>UPI ID: riyazsuhu1999@okicic <br> Donate using UPI ID threw all online banking.</p>
		</div>
  </div>
</div>
{{>footer}}