<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/donateus.png">
    <title>Donate us</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kavivanar&family=Podkova&display=swap" rel="stylesheet">
    
</head>
<body>
    {{>header}}
    <div class="main-content">
     {{bankDetails}}
    </div>
   
    {{>footer}}
</body>
</html>