{{>header}}   
  <div class="jumbotron jumbotron-fluid text" style="color:cornsilk; background-color:#DE3027;">
  <div class="container">
  <h1 class="display-8 text-center text-weight-bold">ஒவ்வொருத் துளி இரத்தம் நாம் சேர்ப்போம் ஒருக்கிணைந்து பல உயிர் நாம் காப்போம்...</h1>
  </div>
  </div>
      <form>
          <div class="form-group container jumbotron form">
          <h1 style="font-weight:bold;" class="text-center">Donor's registration</h1>
            <label for="dnr_name">Full name : </label>
            <input type="text" name="dnr_name" required class="form-control" placeholder="Enter your name"><br>
            <label for="mobile_no">Mobile No :</label>
            <input type="number" name="mobile_no" required pattern="[1-9]{1}[0-9]{9}" class="form-control" placeholder="Enter your Mobile no"><br>
            <label for="bld_group">Blood Group : </label>
            <select name="dnr_bld_group" id="dnr_bld_grp" class="form-control">
              <option value="bld_grp" selected disabled>Select your blood group</option>
            </select><br>
            <label for="taluk">Taluk : </label>
            <select name="taluk" id="dnr_taluk" class="form-control">
              <option value="select taluk" selected disabled>Select your Taluk</option>
            </select><br>
            <center><button type="submit" class="btn btn-primary btn-lg text-weight-bold">Submit</button></center>
          </div>
        </form>
    {{>footer}}
    <script src="/js/main.js"></script>
</body>
</html>