<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="icon" href="/img/icon.png">
    <title>Error</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kavivanar&family=Podkova&display=swap" rel="stylesheet">
    
</head>
<body>
    {{>header}}
    <div class="main-content">
        <section id="section1">
        <img src="/img/error.jpg" alt="error" class="img-fluid" style="position: absolute;width: 100vw;height:80%">
            <div class="text-center error-div">
                <div class="row">
                    <div class="col error-msg">
                        <h1>404</h1><h3>{{errormessage}}</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{>footer}}
</body>
</html>