  <div class="loader">
		<div class="container-loader"><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div><div class="block"></div></div>
	</div>
  {{>header}}
  <div class="main-content">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/img.png" class="d-block cimg" alt="...">
            <div class="carousel-caption">
              <h5>
                  உங்கள் இரத்தத்தை தானம் செய்யுங்கள்
                  உயிர்களை காப்பாற்றுங்ள்</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/img2.jpg" class="d-block cimg" alt="...">
        </div>
        </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    <section>
      <form>
        <div class="jumbotron jumbotron-fluid form">
        <div class="container">
          <p class="text-center font-weight-bold" style="font-size:3vh;">உங்களுக்கு தேவையான இரத்தத்தை தானம் செய்பவரை கண்டுபிடிக்க கீழே உள்ள சரியான விவரங்களை தேர்வுசெய்து <strong>Search</strong> என்னும் பட்டனை கிளிக் செய்யுங்கள்</p>
        </div>
      </div>
        <div class="form-group container jumbotron form">
          <h1 class="text-center form-heading">Find Blood Donar's <i class="fas fa-tint"></i></h1>
          <label for="bld_grp">Blood Group : </label>
          <select name="bld_grp" id="dnr_bld_grp" class="form-control" required>
            <option value="" selected disabled>Select blood group</option>
          </select><br>
          <label for="taluk">Taluk : </label>
          <select name="taluk" id="dnr_taluk" class="form-control" required>
            <option value="" selected disabled>Select Taluk</option>
          </select><br>
          <center><button id="Search-button" type="submit" class="btn btn-primary btn-lg">Search</button></center>
        </div>
      </form>
    </section>
  </div>
  <div class="limiter"></div>
  <span id="FAQ"></span>
  <div class="jumbotron jumbotron-fluid text">
    <div class="container">
      <h1 class="text-center tamil-ques">யார் யாரெல்லாம் இரத்த தானம் செய்யலாம்…</h1>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <ul class="col tamil-ans">
          <li> நல்ல உடல் நலத்துடன் இருக்கின்ற ஆண், பெண். </li>
          <li> 18 வயதுக்கு மேல் 60 வயதுக்குக் கீழ் இருப்பவர்கள்.</li>
          <li> குறைந்தது 45 கிலோ எடை இருக்க வேண்டும்.</li>
          <li> இரத்த தானம் கொடுப்பவரின் ஹீமோகுளோபின் அளவு 12.5 கிராமுக்கு மேல் இருக்க வேண்டும்</li>
        </ul>
      </div>
    </div>
  <div class="jumbotron jumbotron-fluid text">
    <div class="container">
      <h1 class="text-center tamil-ques">எவ்வளவு நாட்களுக்கு ஒருமுறை இரத்த தானம் செய்யலாம்?</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <ul class="col tamil-ans">
          <li>ஆண்கள் மூன்று மாதத்திற்கு ஒரு முறையும், பெண்கள் நான்கு மாதத்திற்கு ஒரு முறையும் இரத்த தானம் செய்யலாம்.</li>
        </ul>
    </div>
  </div>
  
  <div class="jumbotron jumbotron-fluid text">
    <div class="container">
      <h1 class="text-center tamil-ques">இரத்ததானம் செய்ய எவ்வளவு நேரம் ஆகும்?</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <ul class="col tamil-ans">
          <li>10 நிமிடம் மட்டுமே..</li>
        </ul>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid text">
    <div class="container">
      <h1 class="text-center tamil-ques">இரத்த தானம் ஏன் கொடுக்க வேண்டும்?</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="col tamil-ans">
        <li>நமது இரத்தத்தில் உள்ள சிவப்பு அணுக்கள் 120 நாட்கள் தான் உயிரோடு இருக்கும்.பின் தானாகவே அழிந்து புதியது தோன்றும். நீங்கள் இரத்தம் கொடுத்தாலும் கொடுக்காவிட்டாலும் இதுதான் செயல்.ஆக அழிந்து பின் திரும்ப வரப்போகின்ற ஒன்றை மற்றொருவருக்குக் கொடுத்து உயிர் காப்பது நல்லதே..</li>
      </ul>
    </div>
  </div>
   
  <div class="jumbotron jumbotron-fluid text">
    <div class="container">
      <h1 class="text-center tamil-ques">இரத்ததானம் கொடுக்க சரியான நேரம் என்ன?</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="col tamil-ans">
        <li> நன்றாக உணவு சாப்பிட்டு, பின் ஒன்றரை மணிநேரம் கழித்து இரத்த தானம் செய்வது நல்லது. </li>
        <li>தானம் செய்வதற்கு முன் மோர் போன்ற திரவங்களைக் குடிப்பது நல்லது.</li>
      </ul>
    </div>
  </div>
  
  <div class="jumbotron jumbotron-fluid text">
    <div class="container">
      <h1 class="text-center tamil-ques">இரத்ததானம் கொடுத்தபின் என்ன செய்யக் கூடாது?</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="col tamil-ans">
        <li> நல்ல திரவ உணவை அருந்துங்கள். ஹெவி உணவு வேண்டாம்.</li>
        <li>ஒரு மணி நேரத்திற்கு புகை பிடிக்கக் கூடாது. 6 மணி நேரத்திற்கு மது அருந்தக் கூடாது.</li>
        <li>இரத்தம் எடுத்த இடத்தில் அழுத்தி வைக்கப்பட்ட பஞ்சை 5 மணிநேரம் எடுக்க வேண்டாம்.</li>
      </ul>
    </div>
  </div>
  
  <div class="jumbotron jumbotron-fluid text">
    <div class="container">
      <h1 class="text-center tamil-ques">மாத்திரைகளை சில காரணங்களுக்காகச் சாப்பிடுகிறவர்கள் இரத்த தானம் செய்யலாமா?</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="col tamil-ans">
        <li> சாலிசிலேட் மாத்திரையை கடைசி மூன்று நாட்கள் சாப்பிடுகிறவர்கள் இரத்த தானம் செய்யக்கூடாது.</li>
        <li> ப்ராஸ்டேட் பிரச்னைக்காக ஃபினஸ்டிரேட் மாத்திரை சாப்பிடுகிறவர்கள் கொடுக்கக்கூடாது.</li>
        <li> நீரிழிவு மாத்திரை சாப்பிடுகிறவர்கள் இரத்தக்குழாய் கோளாறு இல்லை என்றால் கொடுக்கலாம்.</li>
        <li> இன்சுலின் போட்டுக் கொள்கிறவர்கள் கொடுக்கக்கூடாது.</li>
        <li> இதயக் கோளாறு மாத்திரைகள், வலிப்பு நோய் மாத்திரைகள், தைராய்ட் நோய் மாத்திரைகள், இரத்தம் உறையாமலிருக்க டிஜிடாலிஸ், டைலான்டின் போன்ற மாத்திரை சாப்பிடுகிறவர்கள் இரத்த தானம் செய்யக் கூடாது.</li>
      </ul>
    </div>
  </div>
   
  <div class="jumbotron jumbotron-fluid text">
    <div class="container">
      <h1 class="text-center tamil-ques">சின்னச்சின்ன உடல் நலக் கோளாறுகள் இருக்கிறவர்கள் இரத்த தானம் செய்யலாமா?</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="col tamil-ans">
        <li> சளி, ஃபுளு, இருமல், மூக்கடைப்பு - <strong>கொடுக்கலாம்</strong>. </li>
        <li> ஆஸ்துமா, மூச்சுத்திணறல், நெஞ்சுவலி நின்ற பிறகு <strong>கொடுக்கலாம்</strong>.</li>
        <li> ஆஸ்துமாவிற்காக கார்டிஸோன் மருந்து சாப்பிடுகிறவர்கள் - <strong>வேண்டாம்</strong>. </li>
        <li> குழந்தை பிறந்த பிறகு 6 மாதம் ஆன தாய்மார்கள் - <strong>கொடுக்கலாம்</strong> . </li>
        <li> அபார்ஷன் ஆனவர்கள்  6 மாதம் கழித்துக் <strong>கொடுக்கலாம்</strong>. </li>
        <li> குழந்தைக்குப் பால் கொடுப்பவர்கள் பால் கொடுப்பதை நிறுத்திய பிறகு <strong>கொடுக்கலாம்</strong>.</li>
        <li> பெரிய அறுவை சிகிச்சை செய்து கொண்டவர்கள் 6 மாதம் கழித்துக் <strong>கொடுக்கலாம்</strong>. </li>
        <li> சிறிய அறுவை சிகிச்சை செய்து கொண்டவர்கள் 3 மாதத்திற்குப் பிறகு <strong>கொடுக்கலாம்</strong> </li>
        <li> பல் அறுவை சிகிச்சை செய்து கொண்டவர்கள் 1 மாதம் கழித்துக் <strong>கொடுக்கலாம்</strong> </li>
        <li> பல்பிடுங்கிய பின் 3 நாட்களுக்குப் பிறகு <strong>கொடுக்கலாம்</strong>.</li>
        <li> இரத்த அழுத்த நோய் இருப்பவர்கள் இரத்த தானம் கொடுக்கும்போது இரத்த அழுத்தம் சரியான அளவில் இருந்தால் <strong>கொடுக்கலாம்</strong>.</li>
        <li> வலிப்பு நோய் மருந்து சாப்பிட்டுக் கொண்டு இருந்தால் வேண்டாம்.மருந்து நிறுத்தி 2 வருடங்கள் வலிப்பு வரவில்லை என்றால் <strong>கொடுக்கலாம்</strong>.</li>
        <li> தடுப்பூசி போட்டுக் கொண்டவர்கள் 4 வாரங்களுக்குப் பிறகு <strong>கொடுக்கலாம்</strong>.</li>
        <li> நாய்க்கடி சிகிச்சை எடுத்துக் கொண்டவர்கள், மஞ்சள்காமாலை சிகிச்சை பெற்றவர்கள் 12 மாதங்களுக்குப் பிறகு <strong>கொடுக்கலாம்</strong>.</li>
        <li> மலேரியா வந்தவர்கள் 3 மாதங்களுக்குப் பிறகு <strong>கொடுக்கலாம்</strong>.</li>
        <li> காசநோய் உடையவர்கள் 5 வருடங்கள் <strong>வேண்டாம்</strong>.</li>
      <ul>
    </div>
  </div>
  

  {{>footer}}
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>
<script src="js/table.js"></script>
<script src="/js/Donordata.js"></script>	
</body>
</html>
