<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TN blood donar's</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <div class="main-content">
    
    
    <div id="form">
        <form action="">
            <label for="blood group">Blood Group : </label>
            <select name="blood group" id="bld_grp">
                <option value="b1">A1+</option>
                <option value="b2">A1</option>
            </select><br>
            <label for="taluk">Taluk : </label>
            <select name="taluk" id="taluk">
                <option value="chidambaram">Chidambaram</option>
                <option value="nidamangalam">Nidamangalam</option>
            </select>
            <br>
            <button>Submit</button>
        </form>
    </div>
    </div>
    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
</body>
</html>