<!-- Site footer -->
    <footer class="site-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">TNblooddonars.com This website is collecting the Blood Donar's information. that information filtered based on the city of donars. those who need blood can easily access donars information by this website.<a href="/donateus" style="color: aqua;"><u>Click Here</u></a> contribute for this site.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Contact Us</h6>
            <ul class="footer-links">
              <li>Mobile No: +91 9500665156 / 9080500125</li>
              <li>Email: riyazsuhu1999@gmail.com / aashikmuhammad4@gmail.com </li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/">Home</a></li>
              <li><a href="/donarregistration/">Donar's registration</a></li>
              <li><a href="/donateus/">Donate Us</a></li>
              <li><a href="/about/">About Us</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">TNblooddonar's</a>.
            </p>
          </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li>Riyaz<a class="facebook" href="https://www.facebook.com/profile.php?id=100008581156940"><i class="fa fa-facebook"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/riyaz_suhu/"><i class="fa fa-instagram"></i></a></li>
              <li>Asik<a class="facebook" href="https://www.facebook.com/profile.php?id=100007319835869"><i class="fa fa-facebook"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/smbdy_cl_me_aashii/"><i class="fa fa-instagram"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>