<header>
    <nav>
        <div> <a href="/" id="logo">logo</a></div>
        <ul>
            <li><a href="/about" id="link">About</a></li>
            <li><a href="/donateus" id="link">Donate Us</a></li>
            <li><a href="/donarregistration" id="link">Registration</a></li>
            <li><a href="/" id="link">Home</a></li>


        </ul>
    </nav>
    <h3>TN Blood donars</h3>
</header>
