body,html{
    margin:0;
    padding: 0;
}
/* --navbar-- */
#logo{
    width:10.5vh;  
    height:8.5vh;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover ;
}
.carousel-caption{
    bottom: 220px;
}
.carousel-caption h5{
    font-size: 7vh;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 25px;
}
.cimg{
    height: 100vh;
    width: 100%;
}
.navbar-nav a{
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: #5a5050;
}
.navbar-nav{
    text-align: center;
}
.nav-link{
    padding: .2rem 1rem;
}
#hover:hover{
    color:#EB3325;
}
/* --navbarend-- */

/* page-layout */
.main-content{
    flex-grow:1;
    width: 100vw;
    height: 100%;
}
section{
    height: 95vh;
    padding-top: 11vh;
    position: relative;
}
.section1{
    height: 100vh;
}
.container{
    font-family: 'podkova', 'serif';
    position: relative;
}
.error-page{
    width: 50vw;
    height: 45vh;
    margin-top: 15%;
}
.error-message{
    margin: auto;
    width: 70%;
    height: 50%;
    margin-top: 20%;

}

.devinfo{
    padding-top: 5px;
    background: linear-gradient(to bottom, rgba(161, 1, 1, 0.5), rgb(255, 255, 255));
}

/* form */
form{
    font-family: 'Podkova', 'serif';
    margin-top: 100px;
}
label{
    font-size: 1.3em;
}
/* donardata */
#box{
    background-color: rgba(195, 177, 75, 0.9);
    width: 70%;
    margin: auto;
}
table{
    border: none;
    font-size: 1.3em;
    width:80%;
    margin: auto;
    align-items: center;
    padding: 5%;
    margin-bottom: 5%;
}
/* size */
h3{
    font-size: 2.2em;
}
h5{
    font-size: 1.7em;
}
h6{
    font-size: 2.2em;
}
hr{
    color: rgb(195, 71, 49);
}
/* footer */
footer{
    color:#a89f9f;
    border-top:1px solid #9b9797;
    font-size: 20px;
    padding-bottom: 30px;
    text-align: center;
    width: 100vw;
    }
