body,html{
    padding-top: 40px;
}
/* --navbar-- */
.curve{
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}  
#logo{
    width:10.5vh;  
    height:8.5vh;
}
.carousel-item{
    height: 90vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover ;
}
.carousel-caption{
    bottom: 245px;
}
.carousel-caption h5{
    font-size: 5.2vh;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-top: 20px;
}
.cimg{
    height: 90vh;
    width: 100%;
}
.navbar-nav a{
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: #5a5050;
}
.navbar-nav{
    text-align: center;
}
.nav-link{
    padding: .2rem 1rem;
}
#hover:hover{
    color:#EB3325;
}
/* --navbarend-- */

/* page-layout */
.main-content{
    /* flex-grow:1; */
    width: 100vw;
    height: 100%;
}
section{
    height: 95vh;
    margin-top: 5%;
    position: relative;
}
#section1{
    height: 100vh;
}
.container{
    font-family: 'podkova', 'serif';
    position: relative;
}
.bg-img{
    background-image: url('/img/img.png');
}
.devinfo{
    padding-top: 5px;
    background: linear-gradient(to bottom, rgba(161, 1, 1, 0.5), rgb(255, 255, 255));
}

.error-div {
    padding: 5rem 3rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    height: 100%;
    padding-top: 10%;
    width:80vw;
    color: white;
    font-family:'podkova';
  }
  .error-msg h1{
    font-size: 10em;
  }
  .error-msg h3{
    font-size: 6em;
  }
  @media (max-width: 576px) {
    .error-div {
      padding: 4rem 2rem;
    }
    .error-msg h1{
        font-size: 6em;
      }
      .error-msg h3{
        font-size: 4em;
      }
  }
.jumbotron.text{
    background-color: #e4281b;
    margin: 5vh auto;
    color: white;
}
.content{
    font-size: 3vh;
    font-weight: 500;
}
.content .ul{
    margin-left: 20%;
}
/* form */
.jumbotron.form{
    background-color: rgb(171, 215, 230);
    margin: 5vh auto;
}
form{
    font-family: 'Podkova', 'serif';
}
label{
    font-size: 1.3em;
}
/* donardata */
.space{
    margin-bottom: 5%;

}
table{
    border: none;
    font-size: 1.3em;
    width:80%;
    margin: auto;
    align-items: center;
    padding: 5%;
}
/* size */
h3{
    font-size: 2.2em;
}
h5{
    font-size: 1.7em;
}
h6{
    font-size: 2.2em;
}
hr{
    color: rgb(195, 71, 49);
}
.heading{
    font-size: 7vh;
}


/* footer */
footer{
    background-blend-mode: overlay;
    background-image: url("/img/bg1.jpg");
    background-color: rgba(235, 51, 37, 0.81);
    color:#a89f9f;
    border-top:1px solid #9b9797;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    width: 100vw;
}


/* #60CA98 */
